.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            color: turquoise;
        }
    }
}